.botonesProyectos{
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 0;
    margin: 0px 15px 0px 15px ;

}

.botonesProyectos .botom{
    height: 50px;
    width: 100%;
    margin: 0px 0px 5px 0px ;
    background-color: rgb(255, 154, 154);

    font-size: 22px;
    color: aliceblue;
    text-decoration: none;

}

.botonesProyectos .botom:hover{
    background-color: rgb(149, 255, 251);
    color: rgb(0, 0, 0);
    
}


.botonesProyectos .botom .link{
    
    height: 100%;
    width: 100%;
}
